#srch {
    width: 100%;
    border-radius: 0%;
    margin-bottom: 0%;
}

#brd {
    border-radius: 0%;
    margin-bottom: 0%;
    /*    margin-right: 0%;*/
    width: 100%;
    /*    background-color: #187F7A;*/
}

#cbe {
    height: 100%;
    width: 100%;
    /*    background-color: #f67280;*/
    /*    padding: 0%;*/
}

#ide {
    /*    background-color: #f67280;*/
}

img {
    max-width: 60%;
    /*
    height: auto;
 text-align: center;
 */
}

#cb {
    height: 100%;
    width: 100%;
    border-radius: 0%;
    /*    padding: 0%;*/
}

#grd {
    padding: 0 0 0 0;
    /*    background-color: #7DFFF8;*/
    /**! important**/
    /**top,right,down,left**/
    /*    padding: 0%;*/
}

#grd:hover {
    cursor: pointer;
    cursor: hand;
    background: #555;
    /*
     color: white;
     text-shadow: 2px 2px 4px #000000;*/
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#grd2:hover {
    cursor: pointer;
    cursor: hand;
    background: #555;
    /*
     color: white;
     text-shadow: 2px 2px 4px #000000;*/
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#grd #hh:hover {
    cursor: pointer;
    cursor: hand;
    background: #555;
    /*
     color: white;
     text-shadow: 2px 2px 4px #000000;*/
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#grd2 #hh:hover {
    cursor: pointer;
    cursor: hand;
    background: #555;
    /*
     color: white;
     text-shadow: 2px 2px 4px #000000;*/
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#gr {
    padding: 0 0 0 0;
    /**! important**/
    /**top,right,down,left**/
    /*    padding: 0%;*/
}

#grd2 {
    padding: 0 0 0 0;
    /*    background-color: #7DFFF8;*/
    /**! important**/
    /**top,right,down,left**/
}

#grd3 {
    padding: 0 0 0 0;
    /*    background-color: #7DFFF8;*/
    /**! important**/
    /**top,right,down,left**/
}

.ui.cube.shape .side {
    height: 33em;
}

.ui.grid {
    margin: 0;
    /*    z-index: 40;*/
}

.ui.grid+.grid {
    margin: 0em;
    /**! important**/
}

.ui.card>.content:after,
.ui.cards>.card>.content:after {
    height: 1.4em;
    position: fixed;
}

.fa fa-bars {
    float: left;
}

.t {
    border-radius: 0% ! Important;
    height: 50px ! Important;
    margin: 0% ! Important;
    /*    padding: 0%;*/
}

.row {
    padding: 3%;
    /*    margin: 0% ! Important;*/
}

#pic {
    /*    float: left;*/
    width: 250px;
    height: 250px;
}

#e {
    /*    display: block;*/
    /*    margin-bottom: 1px;*/
    /*    vertical-align: top;*/
}

#ei {
    /*    display: block;*/
    /*    box-sizing: border-box;*/
    /*    width: 80%;*/
    /*    height: 20px;*/
}

#hi {
    /*
    height: 20px;
vertical-align: bottom;
*/
}

#upload {
    margin-left: 25%;
    margin-right: 25%;
}

#rd {
    width: 100%;
    margin-bottom: 10px;
}

#loginrow {
    padding-top: 40%;
    height: 80%;
    /*background: rgba(255,255,255,0.2);*/
    /*opacity: 0.4;*/
    /*margin-top: 35%;*/
    /*background-color: white;*/
    /* opacity: .95;
    border-radius: 10px;*/
}

#sublog {
    /*    background-color: white;*/
    /*
    opacity: .92;
    background: rgba(255,255,255,0.2);
*/
    border-radius: 10px;
    width: 70%;
}

#test {
    /*    opacity: .92;*/
    background: rgba(255, 255, 255, 0.05);
}

#Page1 {
    background-image: url("pics/My-Vision.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#logo {
    width: 50%;
    padding: 0%;
    margin: 0%;
}

.log {
    padding-top: 5%;
    padding-bottom: 5%;
}